.App {
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.PilotList {
  width: 80%;
  list-style-type: none;
  padding: 0;
  margin: 0 0 30px 0;
}

.PilotListRow {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  text-align: left;
  border-bottom: 1pt black solid;
  margin: 5px 0;
}

div#PilotListHeader.PilotListRow {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: left;
  font-weight: bold;
}

@media screen and (min-width: 800px) and (max-width: 1199px) {
  .PilotListRow {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .grid-container:nth-child(2),
  .grid-container:nth-child(4) {
    text-align: right;
  }
}

@media screen and (min-width: 1200px) {
  .PilotListRow {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 12em;
    text-align: left;
  }

  .grid-container:last-child {
    text-align: right;
  }
}

